body {
  margin: 0%;
}

#tractor {
  color:#311B92;
  background: #FF5722;
  font-family: Verdana;
  font-size: 50px;

  width: 300px;
  height: 300px;
}
#field {
  color: #311B92;
  background:#F44336;
  font-family: Verdana;
  font-size: 50px;

  width:  200px;
  height: 200px;
}

#Red {
  color: red;
}

b {
  font-size: 30px
}
/* p {
  font-family: Verdana;
  font-size: 25px
} */